@import "twitter/bootstrap/bootstrap";

.lists-viewport {
  width:100%;
  overflow-x:scroll;
  overflow-y:hidden;
}

.lists-container {
  width:100%;
  white-space:nowrap;
  .clearfix()
}

.list {
  vertical-align:top;
  white-space:normal;
  display:inline-block;
  width:250px;

  padding:5px;
  border:1px #000 solid;
  margin:5px;

  ul {
    list-style-type: none;
    margin-left: 0px;

    li {
      padding:3px;
      border:1px #000 solid;
      margin:4px 0;
    }
  }
    
}
